.blue {
    color: blue;
}

.header {

}

.pages {
    color: pink;
}

#navbar {
    color: pink;
}


body {
    color: teal;
    font-family: public pixel;
    
}

@font-face {
    font-family: public pixel;
    
    src: url("PublicPixel-z84yD.ttf") format("truetype")
}

@font-face {
    font-family: maginer;
    src: url("MaginerfreeRegular-ALodL (copy).otf") format("opentype");
}

@font-face {
    font-family: ;
    src: url("MaginerfreeRegular-ALodL (copy).otf") format("opentype");
}

.input_bar {
    max-width: 850px;
    heigth: 300px;
}

.select_bar {
    max-width: 400px;
}

.rating_bar {
    max-width: 200px;
}

.pink {
    color:  #ff6699;
}

th, td {
    padding: 10px;
}

li {
    margin: 10px 0;
}

.navbar_color {
    color: red;
}
