{% extends "layout.html" %}


{% block main %}
<title>Create new List</title>
<div class="text_page">
    <form action="/create_list/{{media_type}}/{{tmdb_id}}" method="post">
	<div class="d-flex align-items-center">
	    <div class="mx-auto">
		<input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="list_title" name="list_title" placeholder="List Title" type="text"><br>
		<button class="btn btn-primary" type="submit">Create list</button>
	    </div>
	</div>
    </form>
    <div class="error_message">
	{% if error == "empty_form" %}
	Make sure to fill in all the forms!
	{% endif %}
    </div>
</div>
{% endblock %}

