{% extends "layout.html" %}

{% block main %}
<title>Index</title>
<br><br>
<div class="mx-auto fs-4 only_text">
    <div class="fs-3">
	Hi there, glad that you encountered this website!
    </div>
	<br>
	This website is made for you to track movies and websites that you are interested to watch and that you have watched.<br>
    This way you won't have the issue of forgetting on what episode you left off, or what movies you still want to watch.<br>
	Feel free to make your own account for free and start adding movies and series to your lists!
    </div>
</div>
</div>
<div class="mx-auto">
    We make use of TMDB database for all our data recollection.
</div>
{% endblock %}
