{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}

<h>
  {% if error == "password_incorrect" %}
  Username did not match password, try again.
  {% endif %}
  {% if error == "empty_form" %}
  Make sure to fill out all the boxes to sign in, try again.
  {% endif %}

</h>
<form action="/login" method="post">
  <div class="d-flex align-items-center">
    <div class="mx-auto">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text"><br>
    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password"><br>
    <button class="btn btn-primary" type="submit">Log in</button>
    </div>
  </div>
</form>
{% endblock %}
