{% extends "layout.html" %}
{% block main %}

<title>Login</title>
<div class="text_page">
<form action="/login" method="post">
  <div class="d-flex align-items-center">
    <div class="mx-auto">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text"><br>
    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password"><br>
    <button class="btn btn-primary" type="submit">Log in</button>
    </div>
  </div>
</form>
<div class="error_message">
    {% if error == "empty_form" %}
    Make sure to fill in all the forms!
    {% endif %}
    {% if error == "password_incorrect" %}
    Incorrect password and/or username.
    {% endif %}
</div>

</div>
{% endblock %}
