{% extends "layout.html" %}

{% block main %}
<title>Register</title>

<div class="text_page">
    <form action="/register" method="post">

	<div class="d-flex align-items-center">
	    <div class="mx-auto">
		<input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text"><br>
		<input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password"><br>
		<input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="confirmation" type="password"><br>
		<button class="btn btn-primary" type="submit">Register</button>
	    </div>
	</div>
    </form>
    <div class="error_message">
	{% if error == "empty_form" %}
	Make sure to fill in all the forms!
	{% endif %}
	{% if error == "username_unavailable" %}
	This username is already in use. 
	{% endif %}
    </div>
</div>
{% endblock %}
