{% extends "layout.html" %}

{% block main %}
<title>Results</title>
<div class="fs-2 pink"> {{ results["total_results"] }} Results for:   {{ search_value }}</div><br>
<div class="fs-3 pink"> page {{ page_nr }}</div><br>

<ol class="list-group list-group-numbered">
    {% for item in results["results"]%}
    <li>      <a href="/{{ search_type }}/{{item["id"] }}">
	{% if item["original_title"] %}
	{{ item["original_title"] }} ({{ search_type }})</a>
	{% else %}
	{{ item["original_name"] }} ({{ search_type }})</a>
	{% endif %}

	{% if search_type == "serie" %}
	<td>{{ item["first_air_date"] }} - {{ item["last_air_date"] }}</td>
	{% endif %}
	
	{% if search_type == "movie" %}
	<td>{{ item["release_date"] }}</td>
	{% endif %}

	<table>
	    <tr>
		<td>
		    {% if item["poster_path"] %}
		    <img src="https://image.tmdb.org/t/p/w200{{ item["poster_path"] }}" alt="No poster provided"></img>
		    {% endif %}
		</td>
	    </tr>
	</table>
    </li>
    {% endfor %}

</ol>



	
<nav aria-label="page navigation">
    <ul class="pagination">
	{% if results["page"] -1 > 0 %}
	<li class="page-item">
	    <form action="/search" method="post">
		<input type="hidden" id="movies" name="search_type" value="{{ search_type }}">
		<input type="hidden" id="movies" name="page_nr" value="{{ results["page"] -1 }}">
		<input type="hidden" id="movies" name="search_value" value="{{ search_value }}">
		<button class="btn btn-primary" type="submit">
		    previous
		</button>
	    </form>
	</li>      
	{% endif %}

	{% for page in range(results["total_pages"])[1:] %}
	{% if page < results["page"] and page > results["page"] - 3 %}
	<li class="page-item">
	    <form action="/search" method="post">
		<input type="hidden" id="search_type" name="search_type" value="{{ search_type }}">
		<input type="hidden" id="page_nr" name="page_nr" value="{{ page }}">
		<input type="hidden" id="sarch_value" name="search_value" value="{{ search_value }}">
		<button class="btn btn-primary" type="submit">
		    {{ page }}
		</button>
	    </form>
	</li>
	{% endif %}
	{% if page == results["page"] %}
      <li class="page-item">
	  <form action="/search" method="post">
	      <input type="hidden" id="movies" name="search_type" value="{{ search_type }}">
	      <input type="hidden" id="movies" name="page_nr" value="{{ page }}">
	      <input type="hidden" id="movies" name="search_value" value="{{ search_value }}">
	      <button class="btn btn-secondary" type="submit" disabled>
		  {{ page }}
	      </button>
	  </form>
      </li>
      {% endif %}
      {% if page > results["page"] and page < results["page"] + 3 %}
      <li class="page-item">
	  <form action="/search" method="post">
	      <input type="hidden" id="search_type" name="search_type" value="{{ search_type }}">
	      <input type="hidden" id="page_nr" name="page_nr" value="{{ page }}">
	      <input type="hidden" id="sarch_value" name="search_value" value="{{ search_value }}">
	      <button class="btn btn-primary" type="submit">
		  {{ page }}
	      </button>
	  </form>
      </li>
      {% endif %}
      {% endfor %}
      {% if results["page"] +1 <= results["total_pages"] %}
      <li class="page-item">
	  <form action="/search" method="post">
	      <input type="hidden" id="movies" name="search_type" value="{{ search_type }}">
	      <input type="hidden" id="movies" name="page_nr" value="{{ results["page"] +1 }}">
	      <input type="hidden" id="movies" name="search_value" value="{{ search_value }}">
	      <button class="btn btn-primary" type="submit">
		  next
	      </button>
	  </form>
      </li>      
      {% endif %}      


  </ul>
</nav>
{% endblock %}
