{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block main %}


<form action="/search" method="post">
  <div class="d-flex align-items-center">
    <div class="mx-auto">
	<input autocomplete="on" autofocus class="form-control mx-auto w-auto" id="search" name="search_value" placeholder="search_value" type="text">
	<br>
	<input class="mx-auto" type="radio" id="movies" name="search_type" value="movies">
	<label class="mx-auto" for="movies">movies</label><br>
	<input type="radio" id="series" name="search_type" value="series">
	<label for="series">series</label><br>
	<input type="hidden" name="page_nr" value="1">
	<br>
	<button class="btn btn-primary" type="submit">Search</button><br>
    </div>
  </div>
</form>

{% endblock %}
