{% extends "layout.html" %}
{% block main %}
<title>Taste?</title>
<br><br>
<div class="mx-auto fs-4 only_text">
    <div class="fs-3">
	Is your taste really that tasty?<br>
    </div>
    Based on the popularity scores from the tmdb database and your watchlist, we have discovered how popular your taste is.<br><br>
    
    <form action ="/taste", method="post">
	<input type="submit" id="" name="get_score" value="Get Score">
    </form><br>
    {% if score == 0 %}
    In order to get your score, you must add items to your watchlist!
    {% else %}
    <div class="pink fs-2">
	{{score}}
    </div>
    {% endif %}
    {% endblock %}
