{% extends "layout.html" %}
{% block main %}

<title>Watchlist</title>
<h>Watchlist</h><br>
{{_type}}
<ol>
  {% for item, key in watchlist_data.items() %}
      <li><a href="{{key[0].media_type}}s/{{item }}">
	{{ key[0].title }}</a>
{% if key[0].air_date %}{{ key[0].air_date }}{% endif %}{% if key[0].first_air_date %}{{ key[0].first_air_date[:4] }} - {{ key[0].last_air_date[:4] }} {% endif %} ({{key[0].media_type}})<table>

  <tr>
    <td>
      {% if key[0].poster_path %}
      <img src="https://image.tmdb.org/t/p/w200{{ key[0].poster_path }}" alt="poster_image"></img>
      {% endif %}
    </td>
        {% if key[1] %}
    <th>Last watched episode:</th><td>Season {{ key[1]["season"] }}, Episode {{ key[1]["episode"] }}</td>
    {% endif %}
  </tr>
  </table>
  </li>
  {% endfor %}

</ol>
{% endblock %}



